@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Pixelify+Sans:wght@400..700&display=swap");

@font-face {
  font-family: Magnat;
  src: url(./Fonts/NeueMagnatTest-Bold-BF63e99ff5c0789.otf);
}

body, html {
  font-family: "DM Sans";
  font-size: 16px;
  font-weight: 400;
  color: #221517;
  background-color: #EFEDEB;
}

* {
  margin: 0;
}

a {
  text-decoration: none;
  width: max-content;
  margin: 0;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}